.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgba(0, 0, 0, 0.9);
  z-index: 10000;

  &.isShown {
    display: flex;
  }

  &.isHidden {
    display: none;
  }

  @media (orientation: landscape) {
    padding-top: 20px;
    align-items: flex-start;
    overflow: scroll;
  }
}