.modal .container {
  position: relative;
}

.modal__close-btn {
  position: absolute;
  top: 20;
  right: 20;
  @extend %flex;
  justify-content: center;
  width: 32px;
  height: 32px;

  background-color: transparent;
}

.modal__close-btn .burger-line {
  width: 100%;
  height: 3px;
  margin: 0;

  background-color: white;
  border-radius: 2px;

  &:first-child {
    position: absolute;
    transform: rotate(-45deg);
    transform: translateY(8px);
  }

  &:last-child {
    transform: rotate(45deg);
    transform: translateY(-8px);
  }
}