.pagination {
  @extend %flex-center-ja;
  flex-wrap: wrap;
  gap: 8px;

  padding: 16px 0;
  z-index: 1;
}

.paginationBtn {
  @extend .projects__filter-btn;
  min-width: 40px;
  // width: 40px;
  padding: 8px;
}