<div class="contacts">
  <strong class="contacts__cta">Зателефонуйте нам</strong>
  <ul class="contacts__list">    
    <li class="contacts__item">
      <a class="contacts__link" href="tel:+380983963158" aria-label="Call to us">
        <svg class="contacts__icon" width="16" height="16">
          <use href="../static/images/icons/icons.svg#phone-solid"></use>
        </svg>
        +38 (098) 396 31 58
      </a>
    </li>
    <li class="contacts__item">
      <a class="contacts__link" href="tel:+380965789277" aria-label="Call to us">
        <svg class="contacts__icon" width="16" height="16">
          <use href="../static/images/icons/icons.svg#phone-solid"></use>
        </svg>
      +38 (096) 578 92 77
      </a>
    </li>
  </ul>
  <p class="orline"><span class="line"></span>або<span class="line"></span></p>
  <strong class="contacts__cta">Напишіть нам</strong>
  <ul class="contacts__list contacts__list--message">
    <li class="contacts__item">
      <a class="contacts__link" href="mailto:cinemakyiv@gmail.com" target="_blank" aria-label="Send a mail to us">
        <svg class="contacts__icon email" width="16" height="16">
          <use href="../static/images/icons/icons.svg#envelope-solid"></use>
        </svg>
        cinemakyiv@gmail.com
      </a>
    </li>
    <li class="contacts__item">
      <a href="https://t.me/IgorKozakCinema" class="contacts__link telegram" target="_blank" aria-label="Send a message to us in Telegram">
        <svg class="contacts__icon contacts__icon--message telegram" width="16" height="16">
          <use href="../static/images/icons/icons.svg#telegram"></use>
        </svg>
      </a>
    </li>
    <li class="contacts__item">
      <a href="viber://chat?number=380983963158" class="contacts__link viber" target="_blank" aria-label="Send a message to us in Viber">
        <svg class="contacts__icon contacts__icon--message viber" width="16" height="16">
          <use href="../static/images/icons/icons.svg#viber"></use>
        </svg>
      </a>
    </li>
    <li class="contacts__item">
      <a href="https://wa.me/380983963158" class="contacts__link whatsapp" target="_blank" aria-label="Send a message to us in Whatsapp">
        <svg class="contacts__icon contacts__icon--message whatsapp" width="16" height="16">
          <use href="../static/images/icons/icons.svg#whatsapp"></use>
        </svg>
      </a>
    </li>
  </ul>
</div>