.projects__slider {
  min-width: 0;
};

.projects__filter-list {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;

  margin: 24px 0;
};

.projects__filter-btn {
  display: flex;
  justify-content: center;
  align-items: center;

  min-width: 88px;
  padding: 12px;

  font-size: 16px;
  color: rgba(white, 0.6);
  background-color: rgba(black, 1);
  border-radius: var(--border__radius);
  cursor: pointer;

  &:hover,
  &:focus {
    background-color: var(--color__hover);
  };

  &.current {
    color: white;
    background-color: var(--color__accent);
  };

  @media screen and (min-width: 768px) {
    min-width: 100px;
  };
};

.projects__list {
  @extend %cardSet;
};

.projects__item {
  position: relative;
  @extend %cardSet__item;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  transition: scale 500ms cubic-bezier(0.4, 0, 0.2, 1);
  scale: 1;

  &:hover,
  &:focus {
    scale: 1.05;
  }

   @media screen and (max-width: 767px) {
    &.animate__animated.animate__fadeInUp {
      &:nth-of-type(n+2) {
        --animate-duration: 1250ms;
      }
      &:nth-of-type(n+3) {
        --animate-duration: 1500ms;
      }
      &:nth-of-type(n+4) {
        --animate-duration: 1750ms;
      }
    }
   }

  @media screen and (max-width: 1199px) {
    &.animate__animated.animate__fadeInUp {
      &:nth-of-type(n+3) {
        --animate-duration: 1250ms;
      }
      &:nth-of-type(n+5) {
        --animate-duration: 1500ms;
      }
      &:nth-of-type(n+7) {
        --animate-duration: 1750ms;
      }
      &:nth-of-type(n+9) {
        --animate-duration: 2000ms;
      }
    }
  }

  @media screen and (min-width: 1200px) {
    &.animate__animated.animate__fadeInUp {
      &:nth-of-type(n+4) {
        --animate-duration: 1250ms;
      }

      &:nth-of-type(n+7) {
        --animate-duration: 1500ms;
      }

      &:nth-of-type(n+10) {
        --animate-duration: 2000ms;
      }
    }
  }
};

.project__desc {
  @extend %flex;
  flex-grow: 1;
  padding: 4px 12px;

  background-color: black;
  border-bottom-left-radius: var(--border__radius);
  border-bottom-right-radius: var(--border__radius);
  // overflow: hidden;
}

.project__title {
  width: 100%;

  color: white;
 
  @media screen and (min-width: 768px) {
    font-size: 16px;
  };
  
  @media screen and (min-width: 1200px) {
    font-size: 18px;
  };
};

.projects__play-svg {
  display: block;

  color: #FF0000;
  fill: currentColor;
};

.project__category {
  position: absolute;
  top: 0;
  right: 0;

  padding: 8px;

  font-size: 12px;
  color: white;
  
  background-color: rgba($color: black, $alpha: 0.85);
  border-bottom-left-radius: var(--border__radius);
  border-top-right-radius: var(--border__radius);
  overflow: hidden;

  @media screen and (min-width: 1200px) {
    padding: 10px;
    font-size: 14px;
  };
};

.projects__img-cover {
  width: 100%;
  height: calc(50vw);
  object-fit: cover;

  border-top-left-radius: var(--border__radius);
  border-top-right-radius: var(--border__radius);
  cursor: pointer;

  @media screen and (min-width: 480px) {
    height: 252px;
  };

  @media screen and (min-width: 768px) {
    height: 192px;
  };

  @media screen and (min-width: 1200px) {
    height: 204px;
  };
};

.projects__play-iframe {
  width: 400px;
  height: 225px;

  @media screen and (min-width: 768px) {
    width: 720px;
    height: 405px;
  };

  @media screen and (min-width: 1200px) {
    width: 960px;
    height: 840px;
  };
};

.project__details-btn {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: transparent;
  cursor: pointer;
}

.projects__iframe {
  width: 100%;
  min-height: 336px;

  @media screen and (min-width: 480px) {
    height: 336px;
  };

  @media screen and (min-width: 768px) {
    height: 528px
  };

  @media screen and (min-width: 1200px) {
    height: 852px;
  };

   @media (orientation: landscape) {
    min-height: 90vh;
    height: 90vh;
  }
}
