<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top">
      <div class="footer__logo-wrap">
        <include src="./html/components/logo.html"></include>
      <ul class="sm__list">
        <li class="sm__item">
          <a href="https://www.instagram.com/cinemakyiv/" class="sm__link instagram" target="_blank" aria-label="open our page in Instagram">
            <svg class="sm__icon" width="24" height="24">
              <use href="../static/images/icons/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="sm__item">
          <a href="https://www.facebook.com/cinemakyiv/" class="sm__link facebook" target="_blank" aria-label="open our page in Facebook">
            <svg class="sm__icon" width="24" height="24">
              <use href="../static/images/icons/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      </div>
      <div class="footer__content">
        <div class="footer-box contacts">
          <h2 class="footer-box__title">Контакти</h2>
          <include src="./html/components/contacts.html"></include>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="copyright">&#169 2022 Cinemakyiv All rights reserved.</p>
      <p class="powered">Powered by vketov</p>
    </div>
  </div>
</footer>