<footer class="footer">
  <div class="footer__container container">
    <div class="footer__top">
      <div class="footer__logo-wrap">
        <a class="logo header__logo" href="./index.html">
        <svg class="logo__icon" width="24" height="24">
          <use href="./images/icons/icons.svg#logo"></use>
        </svg>
        <span class="logo__text">Cinema</span>
        <span class="logo__text">Kyiv</span>
      </a>
      <ul class="sm__list">
        <li class="sm__item">
          <a href="https://www.instagram.com/cinemakyiv/" class="sm__link instagram" target="_blank">
            <svg class="sm__icon" width="24" height="24">
              <use href="./images/icons/icons.svg#instagram"></use>
            </svg>
          </a>
        </li>
        <li class="sm__item">
          <a href="https://www.facebook.com/cinemakyiv/" class="sm__link facebook" target="_blank">
            <svg class="sm__icon" width="24" height="24">
              <use href="./images/icons/icons.svg#facebook"></use>
            </svg>
          </a>
        </li>
      </ul>
      </div>
      <div class="footer__content">
      <div class="footer-box contacts">
      <h2 class="footer-box__title">Контакти</h2>
      <strong class="contacts__cta">Зателефонуйте нам</strong>
      <ul class="contacts__list">
        <li class="contacts__item">
          <a class="contacts__link" href="tel:+380983963158">
            <svg class="contacts__icon whatsapp" width="16" height="16">
              <use href="./images/icons/icons.svg#phone-solid"></use>
            </svg>
            +38 (098) 396 31 58
          </a>
        </li>
        <li class="contacts__item">
          <a class="contacts__link" href="tel:+380965789277">
            <svg class="contacts__icon whatsapp" width="16" height="16">
              <use href="./images/icons/icons.svg#phone-solid"></use>
            </svg>
            +38 (096) 578 92 77
          </a>
        </li>
      </ul>
      <p class="orline"><span class="line"></span>або<span class="line"></span></p>
      <strong class="contacts__cta">Напишіть нам</strong>
      <ul class="contacts__list contacts__list--message">
        <li class="contacts__item">
          <a class="contacts__link" href="mailto:cinemakyiv@gmail.com" target="_blank">
            <svg class="contacts__icon email" width="16" height="16">
              <use href="./images/icons/icons.svg#envelope-solid"></use>
            </svg>
            cinemakyiv@gmail.com
          </a>
        </li>
        <li class="contacts__item">
          <a href="https://t.me/IgorKozakCinema" class="contacts__link telegram" target="_blank">
            <svg class="contacts__icon contacts__icon--message telegram" width="16" height="16">
              <use href="./images/icons/icons.svg#telegram"></use>
            </svg>
          </a>
        </li>
        <li class="contacts__item">
          <a href="viber://chat?number=380983963158" class="contacts__link viber" target="_blank">
            <svg class="contacts__icon contacts__icon--message viber" width="16" height="16">
              <use href="./images/icons/icons.svg#viber"></use>
            </svg>
          </a>
        </li>
        <li class="contacts__item">
          <a href="https://wa.me/380983963158" class="contacts__link whatsapp" target="_blank">
            <svg class="contacts__icon contacts__icon--message whatsapp" width="16" height="16">
              <use href="./images/icons/icons.svg#whatsapp"></use>
            </svg>
          </a>
        </li>
      </ul>
      </div>
      </div>
    </div>
    <div class="footer__bottom">
      <p class="copyright">&#169 2022 Cinemakyiv All rights reserved.</p>
      <p class="powered">Powered by vketov</p>
    </div>
  </div>
</footer>