<header class="header">
  <div class="container">
    <a class="logo header__logo" href="./">
      <svg class="logo__icon" width="24" height="24">
        <use href="./images/icons/icons.svg#logo"></use>      </svg>
      <span class="logo__text">Cinema</span>
      <span class="logo__text">Kyiv</span>
    </a>
    <button class="mobile-menu__btn" type="button" aria-expanded="false" aria-controls="mobile-menu" data-mobile-menu-btn>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
      <span class="burger-line"></span>
    </button>
    <nav class="nav">
      <ul class="nav__list">
        <li class="nav__item"><a class="nav__link" href="./projects.html">Cписок проектрів</a></li>
        <li class="nav__item"><a class="nav__link" href="#">Чому ми?</a></li>
        <li class="nav__item"><a class="nav__link" href="#projects">Наші проекти</a></li>
        <li class="nav__item"><a class="nav__link" href="#benefits">Переваги</a></li>
      </ul>
    </nav>
  </div>
</header>