<section class="hero section top">
  <div class="hero__container container">
    <div class="hero__box">
      <p class="hero__subtitle subtitle">Чому саме</p>
      <h1 class="hero__title title" lang="en">Cinema Kyiv?</h1>
      <p class="hero__desc"><span class="accent">1. Сотні відомих проектів</span> які Ви бачили, створені за участі нашого агенства.</p>
      <p class="hero__desc hide-mobile"><span class="accent">2. Маємо 12 річний досвід</span> роботи в проектах різних форматів та напрямків.</p>
      <p class="hero__desc hide-mobile"><span class="accent">3. Наші представництва</span> в Києві, Львові, Одесі та Харкові дають нам можливість виконати завдання будь-якої складності</p>
      <p class="hero__desc hide-mobile"><span class="accent">на всій території України.</span></p>
    </div>
    <div class="hero__box slider">
      <ul class="projects-slider">
        <li class="projects-slider__item">
          <span>Захар Беркут</span>
          <img class="projects-slider__img" data-lazy="./images/projects/poster/films/project_2.webp" src="./images/projects/poster/films/project_2.webp" alt="project_2" width="420">
        </li>
        <li class="projects-slider__item">
          <span>Чорнобиль</span>
          <img class="projects-slider__img" data-lazy="./images/projects/poster/films/project_3.webp" src="./images/projects/poster/films/project_3.webp" alt="project_3" width="420">
        </li>
        <li class="projects-slider__item">
          <span>Віддана</span>
          <img class="projects-slider__img" data-lazy="./images/projects/poster/films/project_4.webp" src="./images/projects/poster/films/project_4.webp" alt="project_4" width="420">
        </li>
          <li class="projects-slider__item">
          <span>Ціна правди</span>
          <img class="projects-slider__img" data-lazy="./images/projects/poster/films/project_1.webp" src="./images/projects/poster/films/project_1.webp" alt="project_1" width="420">
        </li>
        <li class="projects-slider__item">
          <span>Чорний Ворон</span>
          <img class="projects-slider__img" data-lazy="./images/projects/poster/films/project_5.webp" src="./images/projects/poster/films/project_5.webp" alt="project_5" width="420">
        </li>
        <li class="projects-slider__item">
          <span>Незламна</span>
          <img class="projects-slider__img" data-lazy="./images/projects/poster/films/project_6.webp" src="./images/projects/poster/films/project_6.webp" alt="project_6" width="420">
        </li>
        <li class="projects-slider__item">
          <span>Кріпосна</span>
          <img class="projects-slider__img" data-lazy="./images/projects/poster/films/project_7.webp" src="./images/projects/poster/films/project_7.webp" alt="project_7" width="420">
        </li>
        <li class="projects-slider__item">
          <span>Нюхач</span>
          <img class="projects-slider__img" data-lazy="./images/projects/poster/films/project_8.webp" src="./images/projects/poster/films/project_8.webp" alt="project_8" width="420">
        </li>
        <li class="projects-slider__item">
          <span>Креветки в пайетках. Реванш La Revanche Des Crevettes. Pailletées</span>
          <img class="projects-slider__img" data-lazy="./images/projects/poster/films/project_9.webp" src="./images/projects/poster/films/project_9.webp" alt="project_9" width="420">
        </li>
        <li class="projects-slider__item">
          <span>Пульс</span>
          <img class="projects-slider__img" data-lazy="./images/projects/poster/films/project_10.webp" src="./images/projects/poster/films/project_10.webp" alt="project_10" width="420">
        </li>
        <li class="projects-slider__item">
          <span>Слов'яни</span>
          <img class="projects-slider__img" data-lazy="./images/projects/poster/films/project_11.webp" src="./images/projects/poster/films/project_11.webp" alt="project_11" width="420">
        </li>
        <li class="projects-slider__item">
          <span>Козаки. Абсолютно брехлива історія</span>
          <img class="projects-slider__img" data-lazy="./images/projects/poster/films/project_12.webp" src="./images/projects/poster/films/project_12.webp" alt="project_12" width="420">
        </li>
        <li class="projects-slider__item">
          <span>LBDL</span>
          <img class="projects-slider__img" data-lazy="./images/projects/poster/films/project_13.webp" src="./images/projects/poster/films/project_13.webp" alt="project_13" width="420">
        </li>
          <li class="projects-slider__item">
          <span>Love in chauns</span>
          <img class="projects-slider__img" data-lazy="./images/projects/poster/films/project_14.webp" src="./images/projects/poster/films/project_14.webp" alt="project_14" width="420">
        </li>
        </ul>
    </div>
    <div class="hero__box hide-tablet">
      <p class="hero__desc"><span class="accent">2. Маємо 12 річний досвід</span> роботи в проектах різних форматів та напрямків.</p>
      <p class="hero__desc"><span class="accent">3. Наші представництва</span> в Києві, Львові, Одесі та Харкові дають нам можливість виконати завдання будь-якої складності</p>
      <p class="hero__desc"><span class="accent">на всій території України.</span></p>
    </div>
  </div>
</section>